body, html{
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0;
  margin: 0;
}
#navContainer{
  width: 38vh;
  height: 100vh;
}
#sideBar1{
  background-color: rgba(49, 49, 49, 0.389);
  border-radius: 7px;
  width: 35.5vh;
  height: 12.5vh;
  position: relative;
  top: 1%;
  left: 3%;
}
#sideBar2{
  background: linear-gradient(rgba(49, 49, 49, 0.389),rgba(49, 49, 49, 0.389),rgba(49, 49, 49, 0.389), darkGreen);
  border-radius: 7px;
  width: 35.5vh;
  height: 100vh;
  position: relative;
  top: 2%;
  left: 3%;
}
#mainDisplay{
  background: linear-gradient(rgb(38, 38, 38),rgba(49, 49, 49, 0.389),rgba(49, 49, 49, 0.389));
  border-radius: 7px;
  height: 100vh;
  width: 80.25vw;
  position: absolute;
  top: 1.75%;
  left: 19.35%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#playbackController{
  background-color: black;
  z-index: 99999999;
  width: 100vw;
  height: 8.75vh;
  position: absolute;
  bottom: -1%
}
.linkNavButton{
  color: white;
  height: 40%;
  width: 90%;
  margin-top: 2%;
  position: relative;
  top: 2.5%;
  left: 2%;
}
#linkNav{
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}